* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif !important;
}

.sliderMainImg {
  opacity: 100%;
  transform: scale(1);
  transition: all ease-in-out 0.5s;
}

.sliderImg {
  opacity: 0%;
  transform: scale(.9);
  transition: all ease-in-out 0.5s;
}

.dots {
  position: absolute;
  left: 43%;
  bottom: 15%;
}

.slide-text {
  position: absolute;
  top: 15%;
  left: 29%;
}

.slide-btn-left {
  position: absolute;
  top: 55%;
  left: 5%;
}

.slide-btn-right {
  position: absolute;
  top: 55%;
  left: 90%;
}

.clothes-img {
  height: 500px;
  object-fit: cover;
}



